﻿.btn-warning-sm {
    color: #fff;
    background-color: #ed961a !important;
    padding: 0.08rem 0.3rem;
    /*font-size: 0.875rem;*/
    line-height: 1.5;
    border-radius: 0.2rem;
}

    .btn-warning-sm:hover {
        background-color: goldenrod !important;
        color: #484848 !important;
    }

.btn-sm-personalizado {
    padding: 0.08rem 0.4rem;
    /*font-size: 0.875rem;*/
    line-height: 1.5;
    border-radius: 0.2rem;
}

.c-normal {
    cursor: initial !important;
}


.btn-primary-sm {
    background-color: #00a1ff !important;
    color: #fff;
    padding: 0.08rem 0.4rem;
    /*font-size: 0.875rem;*/
    line-height: 1.5;
    border-radius: 0.2rem;
}

    .btn-primary-sm:hover {
        background-color: #0062cc !important;
    }

.btn-success-sm {
    background-color: #28a745 !important;
    color: #fff;
    padding: 0.08rem 0.4rem;
    /*font-size: 0.875rem;*/
    line-height: 1.5;
    border-radius: 0.2rem;
}

    .btn-success-sm:hover {
        background-color: #1e7e34 !important;
    }

.btn-danger-sm {
    background-color: #dc3545 !important;
    color: #fff;
    padding: 0.08rem 0.4rem;
    /*font-size: 0.875rem;*/
    line-height: 1.5;
    border-radius: 0.2rem;
}

    .btn-danger-sm:hover {
        background-color: #bd2130 !important;
    }
