﻿@using ProvaCandidato.Data.Entidade;
@model ClienteObservacao
@{
    string idModal = Model.GetType().Name;
}

<form id="formulario@(idModal)">
    <div>
        <h4 id="titulo@(idModal)">Cliente: @ViewBag.Cliente</h4>
        <hr />
    </div>
    @Html.Partial("~/Views/Shared/Alerta/Alerta.cshtml")
    <div id="divCadastro@(idModal)">
        @Html.HiddenFor(f => f.ClienteId)
        @Html.LabelFor(f => f.Observacao)
        @Html.TextAreaFor(f => f.Observacao, new { @class = "w-100" })
    </div>
</form>

<script>
    $(document).ready(() => {
        jsLoading(false);
    });
    function AdicionaObservacao() {
        var data = { observacao: $('#formulario@(idModal)').serializeArray().serializeObject() };
        console.log(data);
        var url = `@Url.Action("Inserir", "ClienteObservacao")`;
        Post(url, data, FechaModalObservacao);
    }

    function FechaModalObservacao() {
        $(`:input`, `#formulario@(idModal)`)
            .not(":button, :submit, :reset").val("");

        $(`#formulario@(idModal)`).closest(`.ui-dialog-content`).dialog("close");
    }
</script>