﻿@using ProvaCandidato.Data.Entidade;
@model Cliente
@{
    bool cadastro = Model == null || Model.Codigo == 0;
    string ddlCidade = "ddlCidade";
    string titulo = "";
    string botao = "";
    string url = "";
    if (cadastro)
    {
        titulo = "Cadastro de cliente";
        botao = "Cadastrar";
        url = Url.Action("Inserir", "Cliente");
    }
    else
    {
        titulo = "Atualização de cliente";
        botao = "Atualizar";
        url = Url.Action("Atualizar", "Cliente");
    }
}

<div class="row">
    <div class="col-sm-6">
        <h4 class="modal-title">@(titulo)</h4>
    </div>
    <div class="col-sm-6 text-right">
        @if (!cadastro)
        {
            <button class="btn btn-info" id="btnAdicionarObservacao" type="button">Adicionar Observação</button>
        }
    </div>
    <hr />
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="formulario">
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Codigo, new { @class = "control-label" })
                        @Html.TextBoxFor(f => f.Codigo, new { @class = "form-control", @disabled = true })
                        @Html.HiddenFor(f => f.Codigo)
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Nome, new { @class = "control-label" })
                        @Html.TextBoxFor(f => f.Nome, new { @class = "form-control" })
                        <span id="span@(Html.NameFor(f => f.Nome))" class="color-red"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(f => f.DataNascimento, new { @class = "control-label" })
                        @Html.TextBoxFor(f => f.DataNascimento, new { @class = "form-control", @type = "date" })
                        <span id="span@(Html.NameFor(f => f.DataNascimento))" class="color-red"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(f => f.CidadeId, new { @class = "control-label" })
                        <select id="@ddlCidade" class="form-control select2"></select>
                        @Html.HiddenFor(f => f.CidadeId)
                        <span id="span@(Html.NameFor(f => f.DataNascimento))" class="color-red"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(f => f.Ativo, new { @class = "control-label" })
                        @Html.CheckBoxFor(f => f.Ativo)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-success" type="submit">@botao</button>
                </div>
            </div>
        </form>
        <div class="row d-none mt-4 border-gray bg-gray">
            <div class="col-sm-12 align-middle">
                <div>
                    <a class="c-pointer align-middle" onclick="{ $('#divTbObservacoes').fadeToggle(); }">
                        <h3>Observações</h3>
                    </a>
                </div>
            </div>
            <div id="divTbObservacoes" class="col-sm-12 bg-white pt-3"></div>
        </div>
    </div>
</div>
<div id="divAdicionarObservacao"></div>

<script>
    var observacoes = [];
    $(document).ready(() => {
        var CidadeId = `@(Html.NameFor(f => f.CidadeId))`;
        montaDropDownCidades().then(() => { $(`#@ddlCidade`).select2(); });
        preencheCampos();

        $(`#@ddlCidade`).on("change", (event) => {
            $(`#span${CidadeId}`).text('');
            $(`#${CidadeId}`).val($(event.currentTarget).val());
        });

        var nome = `@Html.NameFor(f => f.Nome)`;
        $(`#${nome}`).on("keypress", () => {
            $(`#span${nome}`).text('');
        });

        var data = `@Html.NameFor(f => f.DataNascimento)`;
        $(`#${data}`).on("click", () => {
            $(`#span${data}`).text('');
        });

        @if (Model.ClienteObservacao != null)
        {
            <text>
                observacoes = JSON.parse(`@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ClienteObservacao))`);
                montaTabelaObservacoes();
            </text>
        }
    });

    function consultarObservacoes() {
        var url = `@Url.Action("Consultar", "ClienteObservacao")`;
        var fnSucesso = (dados) => { observacoes = dados };
        Get(url, fnSucesso, null, false, "Dados");
    }

    function montaTabelaObservacoes() {
        if (observacoes != null && observacoes.length > 0) {
            $('#divTbObservacoes').html(`<table id="tbObservacao" class="display table table-striped" style="width:100%"></table>`);
            $('#tbObservacao').DataTable({
                "data": observacoes,
                "columns": [
                    {
                        "title": "Código",
                        "data": "Codigo",
                    },
                    {
                        "title": "Observação",
                        "data": "Observacao",
                    },
                ],
                "order": [[0, 'asc']],
                "destroy": true,
                "retrieve": true,
                "bLengthChange": false,
            });
            $('#divTbObservacoes').parent().removeClass("d-none");
        } else
            $('#divTbObservacoes').parent().addClass("d-none");
    }

    @if (!cadastro)
    {
        <text>
            $('#btnAdicionarObservacao').on("click", () => {
                $(`#divAdicionarObservacao`).dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+300", of: window },
                    width: 1000,
                    title: "Adicionar observação",
                    modal: true,
                    closeOnEscape: false,
                    open: () => {
                        jsLoading(true);
                        $('#divAdicionarObservacao').load(`@(Url.Action("_PartialCadastro", "ClienteObservacao") + $"?ClienteId={Model.Codigo}")`);
                    },
                    buttons: {
                        "Salvar": () => { AdicionaObservacao(); },
                        "Fechar": () => {
                            FechaModalObservacao();
                            $(`#divAdicionarObservacao`).dialog("close");
                        },
                    }
                });
            });
        </text>
    }

    function preencheCampos() {
        $('#@Html.NameFor(f => f.Ativo)').prop("checked", @(Model.Ativo ? "true" : "false"));
        $('#@Html.NameFor(f => f.DataNascimento)').val('@(Model.DataNascimento.HasValue ? Model.DataNascimento.Value.ToString("yyyy-MM-dd") : "")');
    }

    $('#formulario').on("submit", (event) => {
        event.preventDefault();
        var data = $(event.currentTarget).serializeArray().serializeObject();
        data.Ativo = $('#Ativo').prop("checked");
        validaCampos(data).then((validado) => {
            if (validado) {
                var fnSucesso = () => { Redirect(`@Url.Action("Index","Cliente")`); };
                var url = `@(url)`;
                @{
                    if (cadastro)
                    {
                        <text>
                            Post(url, data, fnSucesso);
                        </text>
                    }
                    else
                    {
                        <text>
                            Put(url, data, fnSucesso);
                        </text>
                    }
                }
            }
        });
    });

    async function montaDropDownCidades() {
        var fnSucesso = (cidades) => {
            gerarDropDown(cidades, "Codigo", "Nome", $(`#@ddlCidade`), "@(Model.CidadeId == 0 ? "" : Model.CidadeId.ToString())");
        }
        var url = `@Url.Action("Consultar","Cidade")`;
        Get(url, fnSucesso, null, true, "Dados");
    }

    async function validaCampos(data) {
        var nome = `@Html.NameFor(f => f.Nome)`;
        if (data.Nome == null)
            $(`#span${nome}`).text("Nome não informado.");
        else if (data.Nome.length < 3)
            $(`#span${nome}`).text("Nome deve ter no mínimo 3 caracteres.");
        else if (data.Nome.length > 50)
            $(`#span${nome}`).text("Nome deve ter no máximo 50 caracteres.");

        var dataNascimento = moment(data.DataNascimento, "YYYY-MM-DD");
        var dataValida = true;
        if (dataNascimento > moment()) {
            $(`#span@(Html.NameFor(f => f.DataNascimento))`).text("Data de nascimento não pode ser posterior ao dia de hoje!");
            dataValida = false;
        }

        return $(`#span${nome}`).text() == "" && dataValida;
    }
</script>
