﻿@using ProvaCandidato.Data.Entidade;
@model Cliente

<div class="row">
    <div class="col-sm-12">
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="row my-3 mx-1">
                    <div class="col-sm-6">
                        <span style="color:grey" class="font-weight-light h4">Clientes</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn btn-sm btn-info" onclick="cadastrarCliente()"><span class="fas fa-plus"></span>&nbsp;Adicionar Cliente</button>
                    </div>
                </div>
                <hr />
                <div class="col-sm-12">
                    <div id="divTbCliente" class="overflow-auto pb-3 px-4 mx-0" style="margin-top:2rem">
                        <table id="tbCliente" class="display" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        consultarClientes();
    });

    function consultarClientes() {
        var url = `@Url.Action("Consultar", "Cliente")`;
        var fnSucesso = (dados) => { montaTabelaCliente(dados); };
        Get(url, fnSucesso, null, true, "Dados");
    }

    function montaTabelaCliente(clientes) {
        if (clientes != null && clientes.length > 0) {
            $('#divTbCliente').html(`<table id="tbCliente" class="display table table-striped" style="width:100%"></table>`);
            $('#tbCliente').DataTable({
                "data": clientes,
                "columns": [
                    {
                        "title": "@Html.DisplayNameFor(f => f.Codigo)",
                        "data": "@Html.NameFor(f => f.Codigo)",
                    },
                    {
                        "title": "@Html.DisplayNameFor(f => f.Nome)",
                        "data": "@Html.NameFor(f => f.Nome)",
                    },
                    {
                        "title": "@Html.DisplayNameFor(f => f.DataNascimento)",
                        "data": "@Html.NameFor(f => f.DataNascimento)",
                        "render": (data) => {
                            console.log(data);
                            return moment(data).format("DD/MM/YYYY");
                        }
                    },
                    {
                        "title": "@Html.DisplayNameFor(f => f.Cidade)",
                        "data": "@(Html.NameFor(f => f.Cidade.Nome))",
                    },
                    {
                        "title": "@Html.DisplayNameFor(f => f.Ativo)",
                        "data": "@(Html.NameFor(f => f.Ativo))",
                        "render": (data) => {
                            if (data)
                                return "Ativado";
                            else
                                return "Desativado";
                        }
                    },
                    {
                        "className": 'dt-right',
                        "data": "Codigo",
                        "render": (data, type, row) => {
                            var btnEditar = `<button class="btn btn-warning-sm ml-1 mt-1" type="button" data-toggle="tooltip" data-placement="bottom" title="Editar cliente" onclick="editarCliente(${data})"><span class="fas fa-edit"></span></button>`;
                            var btnExcluir = `<button class="btn btn-danger-sm ml-1 mt-1" type="button" data-toggle="tooltip" data-placement="bottom" title="Excluir cliente" onclick="excluirCliente(${data})"><span class="fas fa-trash"></span></button>`;
                            return `<div class="row text-right mr-1rem">${btnEditar} ${btnExcluir}</div>`;
                        }
                    }

                ],
                "order": [[0, 'asc']],
                "destroy": true,
                "retrieve": true,
                "bLengthChange": false,
            });
        } else
            $('#divTbCliente').html(`<h6 class="color-gray">Nenhum cliente encontrado.</h6>`);
    }

    function cadastrarCliente() {
        Redirect(`@Url.Action("Cadastro", "Cliente")`);
    }

    function editarCliente(codigo) {
        Redirect(`@Url.Action("Cadastro", "Cliente")?Codigo=${codigo}`);
    }

    function excluirCliente(codigo) {
        var fnExcluir = () => {
            var cliente = {"Codigo": codigo};
            var fnSucesso = (f) => { console.log(f); consultarClientes(); }
            var url = '@Url.Action("Deletar", "Cliente")';
            Delete(url, cliente, fnSucesso);
        }

        alertConfirmThen(`<h3>Deseja mesmo excluir a cliente de código "${codigo}"?<\h3>`, fnExcluir, "", true, "Excluir");
    }

</script>
