﻿@using ProvaCandidato.Models;
@{
    Alerta alerta = TempData["UserMessage"] != null ? (Alerta)TempData["UserMessage"] : null;
    string name = "partial-alert";
}

<script>
    $(document).ready(() => {
        $("#alert").fadeOut();
        @{
            if (alerta != null)
            {
                <text>
                    showAlert(`@Html.Raw(alerta.Message)`, `@Html.Raw(alerta.Title)`, `@Html.Raw(alerta.CssClassName)`);
                </text>
                TempData["UserMessage"] = null;
            }
        }
    });

    function showAlertObj(Alerta) {
        showAlert(Alerta.Message, Alerta.Title, Alerta.CssClassName);
    }

    function showAlert(mensagem, titulo, classe) {
        $('.@name').removeClass("d-none");
        $(".@name").fadeIn();
        $('.@name').addClass(classe);
        $('.title-@name').text(titulo);
        $('.message-@name').text(mensagem);
        $(".@name").delay(5000).fadeOut(3000);
    }

    function alertConfirmThen(mensagem, fnCallBack, titulo = "", isHTML = false, confirmText = "Confirmar", denyText = "Cancelar") {
        var config = {
            title: titulo,
            showDenyButton: true,
            confirmButtonText: confirmText,
            denyButtonText: denyText,
            allowOutsideClick: false,
        }
        config[(isHTML ? "html" : "text")] = mensagem;

        Swal.fire(config).then((result) => {
            if (result.isConfirmed) {
                fnCallBack();
            }
        });
    }
</script>