﻿@using ProvaCandidato.Data.Entidade;
@model Cidade
@{
    bool cadastro = Model == null || Model.Codigo == 0;
    string titulo = "";
    string botao = "";
    string url = "";
    if (cadastro)
    {
        titulo = "Cadastro de cidade";
        botao = "Cadastrar";
        url = Url.Action("Inserir", "Cidade");
    } else
    {
        titulo = "Atualização de cidade";
        botao = "Atualizar";
        url = Url.Action("Atualizar", "Cidade");
    }
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="modal-title">@(titulo)</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="formulario">
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Codigo, new { @class = "control-label" })
                        @Html.TextBoxFor(f => f.Codigo, new { @class = "form-control", @disabled=true })
                        @Html.HiddenFor(f => f.Codigo)
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Nome, new { @class = "control-label" })
                        @Html.TextBoxFor(f => f.Nome, new { @class = "form-control" })
                        <span id="span@(Html.NameFor(f => f.Nome))" class="color-red"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-success" type="submit">@botao</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(() => {
        var nome = `@Html.NameFor(f => f.Nome)`;
        $(`#${nome}`).on("keypress", () => {
            $(`#span${nome}`).text('');
        });
    });

    $('#formulario').on("submit", (event) => {
        event.preventDefault();
        var data = $(event.currentTarget).serializeArray().serializeObject();
        validaCampos(data).then((validado) => {
            if (validado) {
                var fnSucesso = () => { Redirect(`@Url.Action("Index","Cidade")`); };
                var url = `@(url)`;
                @{
                    if (cadastro)
                    {
                        <text>
                            Post(url, data, fnSucesso);
                        </text>
                    }
                    else
                    {
                        <text>
                            Put(url, data, fnSucesso);
                        </text>
                    }
                }
            }
        });
    });

    async function validaCampos(data) {
        var nome = `@Html.NameFor(f => f.Nome)`;
        if (data.Nome == null)
            $(`#span${nome}`).text("Nome não informado.");
        else if (data.Nome.length < 3)
            $(`#span${nome}`).text("Nome deve ter no mínimo 3 caracteres.");
        else if (data.Nome.length > 50)
            $(`#span${nome}`).text("Nome deve ter no máximo 50 caracteres.");

        return $(`#span${nome}`).text() == "";
    }
</script>
