﻿@using ProvaCandidato.Data.Entidade;
@model Cidade

<div class="row">
    <div class="col-sm-12">
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="row my-3 mx-1">
                    <div class="col-sm-6">
                        <span style="color:grey" class="font-weight-light h4">Cidades</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn btn-sm btn-info" onclick="cadastrarCidade()"><span class="fas fa-plus"></span>&nbsp;Adicionar Cidade</button>
                    </div>
                </div>
                <hr />
                <div class="col-sm-12">
                    <div id="divTbCidade" class="overflow-auto pb-3 px-4 mx-0" style="margin-top:2rem">
                        <table id="tbCidade" class="display" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        consultarCidades();
    });

    function consultarCidades() {
        var url = `@Url.Action("Consultar", "Cidade")`;
        var fnSucesso = (dados) => { montaTabela(dados); };
        Get(url, fnSucesso, null, true, "Dados");
    }

    function montaTabela(cidades) {
        if (cidades != null && cidades.length > 0) {
            $('#divTbCidade').html(`<table id="tbCidade" class="display table table-striped" style="width:100%"></table>`);
            $('#tbCidade').DataTable({
                "data": cidades,
                "columns": [
                    {
                        "title": "@Html.DisplayNameFor(f => f.Codigo)",
                        "data": "@Html.NameFor(f => f.Codigo)",
                    },
                    {
                        "title": "@Html.DisplayNameFor(f => f.Nome)",
                        "data": "@Html.NameFor(f => f.Nome)",
                    },
                    {
                        "className": 'dt-right',
                        "data": "Codigo",
                        "render": (data, type, row) => {
                            var btnEditar = `<button class="btn btn-warning-sm ml-1 mt-1" type="button" data-toggle="tooltip" data-placement="bottom" title="Editar cidade" onclick="editarCidade(${data})"><span class="fas fa-edit"></span></button>`;
                            var btnExcluir = `<button class="btn btn-danger-sm ml-1 mt-1" type="button" data-toggle="tooltip" data-placement="bottom" title="Excluir cidade" onclick="excluirCidade(${data})"><span class="fas fa-trash"></span></button>`;
                            return `<div class="row text-right mr-1rem">${btnEditar} ${btnExcluir}</div>`;
                        }
                    }

                ],
                "order": [[0, 'asc']],
                "destroy": true,
                "retrieve": true,
                "bLengthChange": false,
            });
        } else
            $('#divTbCidade').html(`<h6 class="color-gray">Nenhuma cidade encontrada.</h6>`);
    }

    function cadastrarCidade() {
        Redirect(`@Url.Action("Cadastro", "Cidade")`);
    }

    function editarCidade(codigo) {
        Redirect(`@Url.Action("Cadastro", "Cidade")?Codigo=${codigo}`);
    }

    function excluirCidade(codigo) {
        var fnExcluir = () => {
            var cidade = {"Codigo": codigo};
            var fnSucesso = (f) => { console.log(f); consultarCidades(); }
            var url = '@Url.Action("Deletar", "Cidade")';
            Delete(url, cidade, fnSucesso);
        }

        alertConfirmThen(`<h3>Deseja mesmo excluir a cidade de código "${codigo}"?<\h3>`, fnExcluir, "", true, "Excluir");
    }

</script>
