﻿@using System.Configuration;
@{
    string empresa = @ConfigurationManager.AppSettings.Get("NomeEmpresa");
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Prova Candidado(a) ASP.NET MVC</title>
    @Html.Partial("~/Views/Shared/Scripts.cshtml")
    @Styles.Render("~/Assets/css")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container body-content">
        <h1 class="title">@empresa</h1>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Instruções", "Index", "Home")</li>
                        <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                        <li>@Html.ActionLink("Cidade", "Index", "Cidade")</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="conteudo">
            @Html.Partial("~/Views/Shared/Loading.cshtml")
            @Html.Partial("~/Views/Shared/Alerta/Alerta.cshtml")
            @RenderBody()
        </div>
        <footer>
            <div class="linha">2017 &copy; - @empresa</div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>