﻿<div id="loader-wrapper" style="display: none;">
    <img src="~/Assets/Images/logo.gif" />
    <div id="loader"></div>
</div>

<script>
    function jsLoading(open, disparar = true) {
        if (disparar) {
            if (open) {
                $('#loader-wrapper').fadeIn();
            } else {
                $('#loader-wrapper').fadeOut();
            }
        }
    }
</script>